.cart-item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: auto;
  width: 30rem;
  max-width: 90%;
}

.cart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.cart-item h1,
.cart-item h2 {
  font-size: 1.2rem;
  margin: 0;
  padding-bottom: 1rem;
}

.cart-item h2 {
  color: blueviolet;
}

.order-btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  font-weight: bold;
  border: 1px solid #000;
  background-color: coral;
  border-radius: 3px;
  cursor: pointer;
}

.order-btn:hover {
  background-color: chocolate;
  color: white;
}
